@media (max-width:1600px) {
    .introduction {
        font-size: 25px;
    }
}
@media (max-width:1325px) {
    .social-menu{
        width: 35vw;
    }
}
@media (max-width:1200px) {
    .navy{
    display: flex !important;
      justify-content: space-around;
      align-items: center;
    }
    .social-menu{
        width: 70vw;
    }
    .introduction {
        font-size: 20px;
    }
    .introduction:first-of-type ,.introduction:nth-of-type(2) {
        font-size: 25px;
    }
}
@media (max-width:768px) {
    .skill-menu {
        display: flex;
        flex-direction:column ;
        justify-content: space-evenly;
        align-items: center;
    }
    .introduction {
        font-size: 14px;
    }
    .introduction:first-of-type ,.introduction:nth-of-type(2) {
        font-size: 16px;
    }
    .navy {
       height: 8vh;
       padding: 0px!important;
   }
    .navbar-item{
       display: none;
   }
   .burger{
       display: block;
   }
   .nav-wrapping-container {
    height: 90%;
    }
}
@media (max-width:600px)
{
    .click {
        font-size: 70px;
    }
    .brandy img{
        transform: scale(0.9);
    }
    .introduction {
        font-size: 10px;
    }
    .navbar-item {
        display: none !important;
    }
}
@media (max-width:450px),(max-height:750px) {
    .social-menu{
        width: 95vw;
    } 
    .click {
        font-size: 45px;
    }
    .introduction {
        font-size: 14px;
    }
    .introduction:first-of-type ,.introduction:nth-of-type(2) {
        font-size: 13px;
    }
    .web-holder {
        flex-direction: column;
        width: 80vh;
        font-size: 60%;
    }
    .thumbnail {
        width: 80vw;
        background-size: cover;
    }
    .like {
        bottom: 0;
        right: 25%;
    }
    .nav-wrapping-container {
        height: 95%;
    }
    .social-menu h2{
        font-size: large;
        margin-bottom: 10px !important;
    }
    .social-menu a{
       padding: 8px;
    }
}
@media (max-width:300px) {
    body {
        width: 300px;
    }
    .navy {
        width: 300px;
    }
    .start {
        width: 300px;
    }
    .click {
        font-size: 40px;
    }
    .social-menu a{
        padding: 5px;
        margin: 1px;
     }
     .social-menu {
        min-height: 100dvh;
        min-width: 100dvw;
     }
     .social-menu a{
        font-size: small;
     }
    .web-holder {
        flex-direction: column;
        width: 65vh;
        font-size: 45%;
    }
    .thumbnail {
        width: 80vw;
        background-size: cover;
    }
}