* {
    transition: all 0.3s;
 }
 body {
    min-width: 99vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden ;
 }
/* ------------------------------------------------social Nav------------------------------------------ */
.social-menu 
{
   position: fixed;
   top: 0;
   left: -100%;
   z-index: 98;
   background-color: #000634;
   height: 100vh;
   width: 25vw;
   padding: 25px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border-right: 1px solid rgba(255, 255, 255,0.1) ;
   transition: left 0.45s;
}
.burger
{
   display: none;
}
.is-active
{
   left: 0;
}
.social-menu h2 
{
   cursor: default;
   text-decoration: underline;
}
.nav-wrapping-container
{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  height: 85%;
  box-sizing: border-box;
}
.social-menu a
{
   display: block;
   margin: 5px 10px 0px ;
   padding: 15px;
   text-decoration: none;
   text-align: left;
   color: white;
   background-color: #000a58;
   box-sizing: border-box;
   transition: transform 0.3s;
   border-radius: 5px;
}
.social-menu a:hover
{
   filter: brightness(0.8);
   border: 2px solid rgba(255, 255, 255, 0.5);   
   box-sizing: border-box;
   transform: scale(1.1);
}
.social-menu a i{
        box-sizing: border-box;
        transition: all 0.4s ;
}
.close
{
   background-color: transparent !important;
   position: absolute !important;
   bottom: 30px;
   right: 10px;
   border: 2px solid transparent !important ;
   border: none;
   color: white !important;
   transform: scale(-1.3);
}
.color-button1 {
   background: rgb(114,114,119);
   background: linear-gradient(90deg, rgba(114,114,119,1) 0%, rgba(61,61,61,1) 50%, rgba(21,21,23,1) 100%);
   padding: 20px;
   border: 2px solid white;
   border-radius: 50%;
   transition: all 0.3s;
}
.color-button2 {
   background: rgb(18,232,194);
   background: linear-gradient(90deg, rgba(18,232,194,1) 0%, rgba(32,139,215,1) 50%, rgba(62,24,227,1) 100%);
   padding: 20px;
   border: 2px solid white;
   border-radius: 50%;
   transition: all 0.3s;
}
[class*="color-button"]:hover {
   cursor: pointer;
   transform: scale(1.1);
   filter: brightness(1.4);
}
[class*="color-button"]:active {
   cursor: pointer;
   transform: scale(1);
   filter: brightness(0.9);
}
[class*="color-button"]:focus {
   cursor: pointer;
   transform: scale(1);
   filter: brightness(1.8);
}
/* ! */
@keyframes intro2 {
        0%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) 0%, rgb(119,119,134) 25%, rgb(90,90,99) 50%, rgb(66,66,73) 75%, rgb(21,21,23) 100%);
        }
        0.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -1%, rgba(119,119,134,1) 24%, rgba(90,90,99,1) 49%, rgba(66,66,73,1) 74%, rgba(21,21,23,1) 99%);
        }
        1%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -2%, rgba(119,119,134,1) 23%, rgba(90,90,99,1) 48%, rgba(66,66,73,1) 73%, rgba(21,21,23,1) 98%);
        }
        1.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -3%, rgba(119,119,134,1) 22%, rgba(90,90,99,1) 47%, rgba(66,66,73,1) 72%, rgba(21,21,23,1) 97%);
        }
        2%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -4%, rgba(119,119,134,1) 21%, rgba(90,90,99,1) 46%, rgba(66,66,73,1) 71%, rgba(21,21,23,1) 96%);
        }
        2.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -5%, rgba(119,119,134,1) 20%, rgba(90,90,99,1) 45%, rgba(66,66,73,1) 70%, rgba(21,21,23,1) 95%);
        }
        3%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -6%, rgba(119,119,134,1) 19%, rgba(90,90,99,1) 44%, rgba(66,66,73,1) 69%, rgba(21,21,23,1) 94%);
        }
        3.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -7%, rgba(119,119,134,1) 18%, rgba(90,90,99,1) 43%, rgba(66,66,73,1) 68%, rgba(21,21,23,1) 93%);
        }
        4%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -8%, rgba(119,119,134,1) 17%, rgba(90,90,99,1) 42%, rgba(66,66,73,1) 67%, rgba(21,21,23,1) 92%);
        }
        4.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -9%, rgba(119,119,134,1) 16%, rgba(90,90,99,1) 41%, rgba(66,66,73,1) 66%, rgba(21,21,23,1) 91%);
        }
        5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -10%, rgba(119,119,134,1) 15%, rgba(90,90,99,1) 40%, rgba(66,66,73,1) 65%, rgba(21,21,23,1) 90%);
        }
        5.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -11%, rgba(119,119,134,1) 14%, rgba(90,90,99,1) 39%, rgba(66,66,73,1) 64%, rgba(21,21,23,1) 89%);
        }
        6%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -12%, rgba(119,119,134,1) 13%, rgba(90,90,99,1) 38%, rgba(66,66,73,1) 63%, rgba(21,21,23,1) 88%);
        }
        6.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -13%, rgba(119,119,134,1) 12%, rgba(90,90,99,1) 37%, rgba(66,66,73,1) 62%, rgba(21,21,23,1) 87%);
        }
        7%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -14%, rgba(119,119,134,1) 11%, rgba(90,90,99,1) 36%, rgba(66,66,73,1) 61%, rgba(21,21,23,1) 86%);
        }
        7.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -15%, rgba(119,119,134,1) 10%, rgba(90,90,99,1) 35%, rgba(66,66,73,1) 60%, rgba(21,21,23,1) 85%);
        }
        8%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -16%, rgba(119,119,134,1) 9%, rgba(90,90,99,1) 34%, rgba(66,66,73,1) 59%, rgba(21,21,23,1) 84%);
        }
        8.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -17%, rgba(119,119,134,1) 8%, rgba(90,90,99,1) 33%, rgba(66,66,73,1) 58%, rgba(21,21,23,1) 83%);
        }
        9%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -18%, rgba(119,119,134,1) 7%, rgba(90,90,99,1) 32%, rgba(66,66,73,1) 57%, rgba(21,21,23,1) 82%);
        }
        9.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -19%, rgba(119,119,134,1) 6%, rgba(90,90,99,1) 31%, rgba(66,66,73,1) 56%, rgba(21,21,23,1) 81%);
        }
        10%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -20%, rgba(119,119,134,1) 5%, rgba(90,90,99,1) 30%, rgba(66,66,73,1) 55%, rgba(21,21,23,1) 80%);
        }
        10.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -21%, rgba(119,119,134,1) 4%, rgba(90,90,99,1) 29%, rgba(66,66,73,1) 54%, rgba(21,21,23,1) 79%);
        }
        11%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -22%, rgba(119,119,134,1) 3%, rgba(90,90,99,1) 28%, rgba(66,66,73,1) 53%, rgba(21,21,23,1) 78%);
        }
        11.5%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -23%, rgba(119,119,134,1) 2%, rgba(90,90,99,1) 27%, rgba(66,66,73,1) 52%, rgba(21,21,23,1) 77%);
        }
        12%{
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) -24%, rgba(119,119,134,1) 1%, rgba(90,90,99,1) 26%, rgba(66,66,73,1) 51%, rgba(21,21,23,1) 76%);
        }
        12.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) 0%, rgba(90,90,99,1) 25%, rgba(66,66,73,1) 50%, rgba(21,21,23,1) 75%, rgba(66,66,73,1) 100%);
        }
        13%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -1%, rgba(90,90,99,1) 24%, rgba(66,66,73,1) 49%, rgba(21,21,23,1) 74%, rgba(66,66,73,1) 99%);
        }
        13.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -2%, rgba(90,90,99,1) 23%, rgba(66,66,73,1) 48%, rgba(21,21,23,1) 73%, rgba(66,66,73,1) 98%);
        }
        14%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -3%, rgba(90,90,99,1) 22%, rgba(66,66,73,1) 47%, rgba(21,21,23,1) 72%, rgba(66,66,73,1) 97%);
        }
        14.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -4%, rgba(90,90,99,1) 21%, rgba(66,66,73,1) 46%, rgba(21,21,23,1) 71%, rgba(66,66,73,1) 96%);
        }
        15%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -5%, rgba(90,90,99,1) 20%, rgba(66,66,73,1) 45%, rgba(21,21,23,1) 70%, rgba(66,66,73,1) 95%);
        }
        15.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -6%, rgba(90,90,99,1) 19%, rgba(66,66,73,1) 44%, rgba(21,21,23,1) 69%, rgba(66,66,73,1) 94%);
        }
        16%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -7%, rgba(90,90,99,1) 18%, rgba(66,66,73,1) 43%, rgba(21,21,23,1) 68%, rgba(66,66,73,1) 93%);
        }
        16.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -8%, rgba(90,90,99,1) 17%, rgba(66,66,73,1) 42%, rgba(21,21,23,1) 67%, rgba(66,66,73,1) 92%);
        }
        17%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -9%, rgba(90,90,99,1) 16%, rgba(66,66,73,1) 41%, rgba(21,21,23,1) 66%, rgba(66,66,73,1) 91%);
        }
        17.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -10%, rgba(90,90,99,1) 15%, rgba(66,66,73,1) 40%, rgba(21,21,23,1) 65%, rgba(66,66,73,1) 90%);
        }
        18%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -11%, rgba(90,90,99,1) 14%, rgba(66,66,73,1) 39%, rgba(21,21,23,1) 64%, rgba(66,66,73,1) 89%);
        }
        18.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -12%, rgba(90,90,99,1) 13%, rgba(66,66,73,1) 38%, rgba(21,21,23,1) 63%, rgba(66,66,73,1) 88%);
        }
        19%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -13%, rgba(90,90,99,1) 12%, rgba(66,66,73,1) 37%, rgba(21,21,23,1) 62%, rgba(66,66,73,1) 87%);
        }
        19.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -14%, rgba(90,90,99,1) 11%, rgba(66,66,73,1) 36%, rgba(21,21,23,1) 61%, rgba(66,66,73,1) 86%);
        }
        20%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -15%, rgba(90,90,99,1) 10%, rgba(66,66,73,1) 35%, rgba(21,21,23,1) 60%, rgba(66,66,73,1) 85%);
        }
        20.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -16%, rgba(90,90,99,1) 9%, rgba(66,66,73,1) 34%, rgba(21,21,23,1) 59%, rgba(66,66,73,1) 84%);
        }
        21%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -17%, rgba(90,90,99,1) 8%, rgba(66,66,73,1) 33%, rgba(21,21,23,1) 58%, rgba(66,66,73,1) 83%);
        }
        21.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -18%, rgba(90,90,99,1) 7%, rgba(66,66,73,1) 32%, rgba(21,21,23,1) 57%, rgba(66,66,73,1) 82%);
        }
        22%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -19%, rgba(90,90,99,1) 6%, rgba(66,66,73,1) 31%, rgba(21,21,23,1) 56%, rgba(66,66,73,1) 81%);
        }
        22.5%{
            background: rgb(119,119,134);
            background: linear-gradient(45deg, rgba(119,119,134,1) -20%, rgba(90,90,99,1) 5%, rgba(66,66,73,1) 30%, rgba(21,21,23,1) 55%, rgba(66,66,73,1) 80%);
        }
        23%{
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1) -21%, rgba(90,90,99,1) 4%, rgba(66,66,73,1) 29%, rgba(21,21,23,1) 54%, rgba(66,66,73,1) 79%);
           }
           23.5%{
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1) -22%, rgba(90,90,99,1) 3%, rgba(66,66,73,1) 28%, rgba(21,21,23,1) 53%, rgba(66,66,73,1) 78%);
           }
           24%{
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1) -23%, rgba(90,90,99,1) 2%, rgba(66,66,73,1) 27%, rgba(21,21,23,1) 52%, rgba(66,66,73,1) 77%);
           }
           24.5%{
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1) -24%, rgba(90,90,99,1) 1%, rgba(66,66,73,1) 26%, rgba(21,21,23,1) 51%, rgba(66,66,73,1) 76%);
           }
           25%{
            background: rgb(90,90,99);
            background: linear-gradient(45deg, rgba(90,90,99,1) 0%, rgba(66,66,73,1) 25%, rgba(21,21,23,1) 50%, rgba(66,66,73,1) 75%, rgba(90,90,99,1) 100%);
           }
           25.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-1%, rgba(66,66,73,1) 24%, rgba(21,21,23,1) 49%, rgba(66,66,73,1) 74%, rgba(90,90,99,1) 99%);
           }
           26%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-2%, rgba(66,66,73,1) 23%, rgba(21,21,23,1) 48%, rgba(66,66,73,1) 73%, rgba(90,90,99,1) 98%);
           }
           26.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-3%, rgba(66,66,73,1) 22%, rgba(21,21,23,1) 47%, rgba(66,66,73,1) 72%, rgba(90,90,99,1) 97%);
           }
           27%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-4%, rgba(66,66,73,1) 21%, rgba(21,21,23,1) 46%, rgba(66,66,73,1) 71%, rgba(90,90,99,1) 96%);
           }
           27.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-5%, rgba(66,66,73,1) 20%, rgba(21,21,23,1) 45%, rgba(66,66,73,1) 70%, rgba(90,90,99,1) 95%);
           }
           28%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-6%, rgba(66,66,73,1) 19%, rgba(21,21,23,1) 44%, rgba(66,66,73,1) 69%, rgba(90,90,99,1) 94%);
           }
           28.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-7%, rgba(66,66,73,1) 18%, rgba(21,21,23,1) 43%, rgba(66,66,73,1) 68%, rgba(90,90,99,1) 93%);
           }
           29%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-8%, rgba(66,66,73,1) 17%, rgba(21,21,23,1) 42%, rgba(66,66,73,1) 67%, rgba(90,90,99,1) 92%);
           }
           29.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-9%, rgba(66,66,73,1) 16%, rgba(21,21,23,1) 41%, rgba(66,66,73,1) 66%, rgba(90,90,99,1) 91%);
           }
           30%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-10%, rgba(66,66,73,1) 15%, rgba(21,21,23,1) 40%, rgba(66,66,73,1) 65%, rgba(90,90,99,1) 90%);
           }
           30.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-11%, rgba(66,66,73,1) 14%, rgba(21,21,23,1) 39%, rgba(66,66,73,1) 64%, rgba(90,90,99,1) 89%);
           }
           31%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-12%, rgba(66,66,73,1) 13%, rgba(21,21,23,1) 38%, rgba(66,66,73,1) 63%, rgba(90,90,99,1) 88%);
           }
           31.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-13%, rgba(66,66,73,1) 12%, rgba(21,21,23,1) 37%, rgba(66,66,73,1) 62%, rgba(90,90,99,1) 87%);
           }
           32%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-14%, rgba(66,66,73,1) 11%, rgba(21,21,23,1) 36%, rgba(66,66,73,1) 61%, rgba(90,90,99,1) 86%);
           }
           32.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-15%, rgba(66,66,73,1) 10%, rgba(21,21,23,1) 35%, rgba(66,66,73,1) 60%, rgba(90,90,99,1) 85%);
           }
           33%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-16%, rgba(66,66,73,1) 9%, rgba(21,21,23,1) 34%, rgba(66,66,73,1) 59%, rgba(90,90,99,1) 84%);
           }
           33.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-17%, rgba(66,66,73,1) 8%, rgba(21,21,23,1) 33%, rgba(66,66,73,1) 58%, rgba(90,90,99,1) 83%);
           }
           34%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-18%, rgba(66,66,73,1) 7%, rgba(21,21,23,1) 32%, rgba(66,66,73,1) 57%, rgba(90,90,99,1) 82%);
           }
           34.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-19%, rgba(66,66,73,1) 6%, rgba(21,21,23,1) 31%, rgba(66,66,73,1) 56%, rgba(90,90,99,1) 81%);
           }
           35%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-20%, rgba(66,66,73,1) 5%, rgba(21,21,23,1) 30%, rgba(66,66,73,1) 55%, rgba(90,90,99,1) 80%);
           }
           35.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-21%, rgba(66,66,73,1) 4%, rgba(21,21,23,1) 29%, rgba(66,66,73,1) 54%, rgba(90,90,99,1) 79%);
           }
           36%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-22%, rgba(66,66,73,1) 3%, rgba(21,21,23,1) 28%, rgba(66,66,73,1) 53%, rgba(90,90,99,1) 78%);
           }
           36.5%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-23%, rgba(66,66,73,1) 2%, rgba(21,21,23,1) 27%, rgba(66,66,73,1) 52%, rgba(90,90,99,1) 77%);
           }
           37%{
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-24%, rgba(66,66,73,1) 1%, rgba(21,21,23,1) 26%, rgba(66,66,73,1) 51%, rgba(90,90,99,1) 76%);
           }
           37.5%{
            background: rgb(66,66,73);
            background: linear-gradient(45deg, rgba(66,66,73,1) 0%, rgba(21,21,23,1) 25%, rgba(66,66,73,1) 50%, rgba(90,90,99,1) 75%, rgba(119,119,134,1) 100%);
           }
           38%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-1%, rgba(21,21,23,1) 24%, rgba(66,66,73,1) 49%, rgba(90,90,99,1) 74%, rgba(119,119,134,1) 99%);
           }
           38.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-2%, rgba(21,21,23,1) 23%, rgba(66,66,73,1) 48%, rgba(90,90,99,1) 73%, rgba(119,119,134,1) 98%);
           }
           39%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-3%, rgba(21,21,23,1) 22%, rgba(66,66,73,1) 47%, rgba(90,90,99,1) 72%, rgba(119,119,134,1) 97%);
           }
           39.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-4%, rgba(21,21,23,1) 21%, rgba(66,66,73,1) 46%, rgba(90,90,99,1) 71%, rgba(119,119,134,1) 96%);
           }
           40%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-5%, rgba(21,21,23,1) 20%, rgba(66,66,73,1) 45%, rgba(90,90,99,1) 70%, rgba(119,119,134,1) 95%);
           }
           40.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-6%, rgba(21,21,23,1) 19%, rgba(66,66,73,1) 44%, rgba(90,90,99,1) 69%, rgba(119,119,134,1) 94%);
           }
           41%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-7%, rgba(21,21,23,1) 18%, rgba(66,66,73,1) 43%, rgba(90,90,99,1) 68%, rgba(119,119,134,1) 93%);
           }
           41.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-8%, rgba(21,21,23,1) 17%, rgba(66,66,73,1) 42%, rgba(90,90,99,1) 67%, rgba(119,119,134,1) 92%);
           }
           42%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-9%, rgba(21,21,23,1) 16%, rgba(66,66,73,1) 41%, rgba(90,90,99,1) 66%, rgba(119,119,134,1) 91%);
           }
           42.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-10%, rgba(21,21,23,1) 15%, rgba(66,66,73,1) 40%, rgba(90,90,99,1) 65%, rgba(119,119,134,1) 90%);
           }
           43%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-11%, rgba(21,21,23,1) 14%, rgba(66,66,73,1) 39%, rgba(90,90,99,1) 64%, rgba(119,119,134,1) 89%);
           }
           43.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-12%, rgba(21,21,23,1) 13%, rgba(66,66,73,1) 38%, rgba(90,90,99,1) 63%, rgba(119,119,134,1) 88%);
           }
           44%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-13%, rgba(21,21,23,1) 12%, rgba(66,66,73,1) 37%, rgba(90,90,99,1) 62%, rgba(119,119,134,1) 87%);
           }
           44.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-14%, rgba(21,21,23,1) 11%, rgba(66,66,73,1) 36%, rgba(90,90,99,1) 61%, rgba(119,119,134,1) 86%);
           }
           45%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-15%, rgba(21,21,23,1) 10%, rgba(66,66,73,1) 35%, rgba(90,90,99,1) 60%, rgba(119,119,134,1) 85%);
           }
           45.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-16%, rgba(21,21,23,1) 9%, rgba(66,66,73,1) 34%, rgba(90,90,99,1) 59%, rgba(119,119,134,1) 84%);
           }
           46%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-17%, rgba(21,21,23,1) 8%, rgba(66,66,73,1) 33%, rgba(90,90,99,1) 58%, rgba(119,119,134,1) 83%);
           }
           46.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-18%, rgba(21,21,23,1) 7%, rgba(66,66,73,1) 32%, rgba(90,90,99,1) 57%, rgba(119,119,134,1) 82%);
           }
           47%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-19%, rgba(21,21,23,1) 6%, rgba(66,66,73,1) 31%, rgba(90,90,99,1) 56%, rgba(119,119,134,1) 81%);
           }
           47.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-20%, rgba(21,21,23,1) 5%, rgba(66,66,73,1) 30%, rgba(90,90,99,1) 55%, rgba(119,119,134,1) 80%);
           }
           48%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-21%, rgba(21,21,23,1) 4%, rgba(66,66,73,1) 29%, rgba(90,90,99,1) 54%, rgba(119,119,134,1) 79%);
           }
           48.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-22%, rgba(21,21,23,1) 3%, rgba(66,66,73,1) 28%, rgba(90,90,99,1) 53%, rgba(119,119,134,1) 78%);
           }
           49%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-23%, rgba(21,21,23,1) 2%, rgba(66,66,73,1) 27%, rgba(90,90,99,1) 52%, rgba(119,119,134,1) 77%);
           }
           49.5%{
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-24%, rgba(21,21,23,1) 1%, rgba(66,66,73,1) 26%, rgba(90,90,99,1) 51%, rgba(119,119,134,1) 76%);
           }
           50%{
            background: rgb(20,2,99);
            background: linear-gradient(45deg, rgba(21,21,23,1) 0%, rgba(66,66,73,1) 25%, rgba(90,90,99,1) 50%, rgba(119,119,134,1) 75%, rgba(172,172,190,1) 100%);
           }
           50.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-1%, rgba(66,66,73,1) 24%, rgba(90,90,99,1) 49%, rgba(119,119,134,1) 74%, rgba(172,172,190,1) 99%);
           }
           51% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-2%, rgba(66,66,73,1) 23%, rgba(90,90,99,1) 48%, rgba(119,119,134,1) 73%, rgba(172,172,190,1) 98%);
           }
           51.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-3%, rgba(66,66,73,1) 22%, rgba(90,90,99,1) 47%, rgba(119,119,134,1) 72%, rgba(172,172,190,1) 97%);
           }
           52% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-4%, rgba(66,66,73,1) 21%, rgba(90,90,99,1) 46%, rgba(119,119,134,1) 71%, rgba(172,172,190,1) 96%);
           }
           52.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-5%, rgba(66,66,73,1) 20%, rgba(90,90,99,1) 45%, rgba(119,119,134,1) 70%, rgba(172,172,190,1) 95%);
           }
           53% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-6%, rgba(66,66,73,1) 19%, rgba(90,90,99,1) 44%, rgba(119,119,134,1) 69%, rgba(172,172,190,1) 94%);
           }
           53.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-7%, rgba(66,66,73,1) 18%, rgba(90,90,99,1) 43%, rgba(119,119,134,1) 68%, rgba(172,172,190,1) 93%);
           }
           54% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-8%, rgba(66,66,73,1) 17%, rgba(90,90,99,1) 42%, rgba(119,119,134,1) 67%, rgba(172,172,190,1) 92%);
           }
           54.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-9%, rgba(66,66,73,1) 16%, rgba(90,90,99,1) 41%, rgba(119,119,134,1) 66%, rgba(172,172,190,1) 91%);
           }
           55% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-10%, rgba(66,66,73,1) 15%, rgba(90,90,99,1) 40%, rgba(119,119,134,1) 65%, rgba(172,172,190,1) 90%);
           }
           55.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-11%, rgba(66,66,73,1) 14%, rgba(90,90,99,1) 39%, rgba(119,119,134,1) 64%, rgba(172,172,190,1) 89%);
           }
           56% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-12%, rgba(66,66,73,1) 13%, rgba(90,90,99,1) 38%, rgba(119,119,134,1) 63%, rgba(172,172,190,1) 88%);
           }
           56.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-13%, rgba(66,66,73,1) 12%, rgba(90,90,99,1) 37%, rgba(119,119,134,1) 62%, rgba(172,172,190,1) 87%);
           }
           57% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-14%, rgba(66,66,73,1) 11%, rgba(90,90,99,1) 36%, rgba(119,119,134,1) 61%, rgba(172,172,190,1) 86%);
           }
           57.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-15%, rgba(66,66,73,1) 10%, rgba(90,90,99,1) 35%, rgba(119,119,134,1) 60%, rgba(172,172,190,1) 85%);
           }
           58% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-16%, rgba(66,66,73,1) 9%, rgba(90,90,99,1) 34%, rgba(119,119,134,1) 59%, rgba(172,172,190,1) 84%);
           }
           58.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-17%, rgba(66,66,73,1) 8%, rgba(90,90,99,1) 33%, rgba(119,119,134,1) 58%, rgba(172,172,190,1) 83%);
           }
           59% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-18%, rgba(66,66,73,1) 7%, rgba(90,90,99,1) 32%, rgba(119,119,134,1) 57%, rgba(172,172,190,1) 82%);
           }
           59.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-19%, rgba(66,66,73,1) 6%, rgba(90,90,99,1) 31%, rgba(119,119,134,1) 56%, rgba(172,172,190,1) 81%);
           }
           60% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-20%, rgba(66,66,73,1) 5%, rgba(90,90,99,1) 30%, rgba(119,119,134,1) 55%, rgba(172,172,190,1) 80%);
           }
           60.5% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-21%, rgba(66,66,73,1) 4%, rgba(90,90,99,1) 29%, rgba(119,119,134,1) 54%, rgba(172,172,190,1) 79%);
           }
           61% {
            background: rgb(20,2,99);
                   background: linear-gradient(45deg, rgba(21,21,23,1)-22%, rgba(66,66,73,1) 3%, rgba(90,90,99,1) 28%, rgba(119,119,134,1) 53%, rgba(172,172,190,1) 78%);
           }
           61.5% {
            background: rgb(20,2,99);
            background: linear-gradient(45deg, rgba(21,21,23,1)-23%, rgba(66,66,73,1) 2%, rgba(90,90,99,1) 27%, rgba(119,119,134,1) 52%, rgba(172,172,190,1) 77%);
           }
           62%{
            background: rgb(20,2,99);
            background: linear-gradient(45deg, rgba(21,21,23,1)-24%, rgba(66,66,73,1) 1%, rgba(90,90,99,1) 26%, rgba(119,119,134,1) 51%, rgba(172,172,190,1) 76%);
           }
           62.5% {
            background: rgb(66,66,73);
            background: linear-gradient(45deg, rgba(66,66,73,1) 0%, rgba(90,90,99,1) 25%, rgba(119,119,134,1) 50%, rgba(172,172,190,1) 75%, rgba(119,119,134,1) 100%);
           }
           63% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-1%, rgba(90,90,99,1) 24%, rgba(119,119,134,1) 49%, rgba(172,172,190,1) 74%, rgba(119,119,134,1) 99%);
           }
           63.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-2%, rgba(90,90,99,1) 23%, rgba(119,119,134,1) 48%, rgba(172,172,190,1) 73%, rgba(119,119,134,1) 98%);
           }
           64% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-3%, rgba(90,90,99,1) 22%, rgba(119,119,134,1) 47%, rgba(172,172,190,1) 72%, rgba(119,119,134,1) 97%);
           }
           64.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-4%, rgba(90,90,99,1) 21%, rgba(119,119,134,1) 46%, rgba(172,172,190,1) 71%, rgba(119,119,134,1) 96%);
           }
           65% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-5%, rgba(90,90,99,1) 20%, rgba(119,119,134,1) 45%, rgba(172,172,190,1) 70%, rgba(119,119,134,1) 95%);
           }
           65.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-6%, rgba(90,90,99,1) 19%, rgba(119,119,134,1) 44%, rgba(172,172,190,1) 69%, rgba(119,119,134,1) 94%);
           }
           66% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-7%, rgba(90,90,99,1) 18%, rgba(119,119,134,1) 43%, rgba(172,172,190,1) 68%, rgba(119,119,134,1) 93%);
           }
           66.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-8%, rgba(90,90,99,1) 17%, rgba(119,119,134,1) 42%, rgba(172,172,190,1) 67%, rgba(119,119,134,1) 92%);
           }
           67% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-9%, rgba(90,90,99,1) 16%, rgba(119,119,134,1) 41%, rgba(172,172,190,1) 66%, rgba(119,119,134,1) 91%);
           }
           67.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-10%, rgba(90,90,99,1) 15%, rgba(119,119,134,1) 40%, rgba(172,172,190,1) 65%, rgba(119,119,134,1) 90%);
           }
           68% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-11%, rgba(90,90,99,1) 14%, rgba(119,119,134,1) 39%, rgba(172,172,190,1) 64%, rgba(119,119,134,1) 89%);
           }
           68.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-12%, rgba(90,90,99,1) 13%, rgba(119,119,134,1) 38%, rgba(172,172,190,1) 63%, rgba(119,119,134,1) 88%);
           }
           69% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-13%, rgba(90,90,99,1) 12%, rgba(119,119,134,1) 37%, rgba(172,172,190,1) 62%, rgba(119,119,134,1) 87%);
           }
           69.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-14%, rgba(90,90,99,1) 11%, rgba(119,119,134,1) 36%, rgba(172,172,190,1) 61%, rgba(119,119,134,1) 86%);
           }
           70% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-15%, rgba(90,90,99,1) 10%, rgba(119,119,134,1) 35%, rgba(172,172,190,1) 60%, rgba(119,119,134,1) 85%);
           }
           70.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-16%, rgba(90,90,99,1) 9%, rgba(119,119,134,1) 34%, rgba(172,172,190,1) 59%, rgba(119,119,134,1) 84%);
           }
           71% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-17%, rgba(90,90,99,1) 8%, rgba(119,119,134,1) 33%, rgba(172,172,190,1) 58%, rgba(119,119,134,1) 83%);
           }
           71.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-18%, rgba(90,90,99,1) 7%, rgba(119,119,134,1) 32%, rgba(172,172,190,1) 57%, rgba(119,119,134,1) 82%);
           }
           72% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-19%, rgba(90,90,99,1) 6%, rgba(119,119,134,1) 31%, rgba(172,172,190,1) 56%, rgba(119,119,134,1) 81%);
           }
           72.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-20%, rgba(90,90,99,1) 5%, rgba(119,119,134,1) 30%, rgba(172,172,190,1) 55%, rgba(119,119,134,1) 80%);
           }
           73% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-21%, rgba(90,90,99,1) 4%, rgba(119,119,134,1) 29%, rgba(172,172,190,1) 54%, rgba(119,119,134,1) 79%);
           }
           73.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-22%, rgba(90,90,99,1) 3%, rgba(119,119,134,1) 28%, rgba(172,172,190,1) 53%, rgba(119,119,134,1) 78%);
           }
           74% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-23%, rgba(90,90,99,1) 2%, rgba(119,119,134,1) 27%, rgba(172,172,190,1) 52%, rgba(119,119,134,1) 77%);
           }
           74.5% {
            background: rgb(66,66,73);
                   background: linear-gradient(45deg, rgba(66,66,73,1)-24%, rgba(90,90,99,1) 1%, rgba(119,119,134,1) 26%, rgba(172,172,190,1) 51%, rgba(119,119,134,1) 76%);
           }
           75% {
            background: rgb(90,90,99);
    background: linear-gradient(45deg, rgba(90,90,99,1) 0%, rgba(119,119,134,1) 25%, rgba(172,172,190,1) 50%, rgba(119,119,134,1) 75%,
     rgba(90,90,99,1) 100%);
           }
           75.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-1%, rgba(119,119,134,1) 24%, rgba(172,172,190,1) 49%, rgba(119,119,134,1) 74%, rgba(90,90,99,1) 99%);
           }
           76% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-2%, rgba(119,119,134,1) 23%, rgba(172,172,190,1) 48%, rgba(119,119,134,1) 73%, rgba(90,90,99,1) 98%);
           }
           76.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-3%, rgba(119,119,134,1) 22%, rgba(172,172,190,1) 47%, rgba(119,119,134,1) 72%, rgba(90,90,99,1) 97%);
           }
           77% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-4%, rgba(119,119,134,1) 21%, rgba(172,172,190,1) 46%, rgba(119,119,134,1) 71%, rgba(90,90,99,1) 96%);
           }
           77.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-5%, rgba(119,119,134,1) 20%, rgba(172,172,190,1) 45%, rgba(119,119,134,1) 70%, rgba(90,90,99,1) 95%);
           }
           78% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-6%, rgba(119,119,134,1) 19%, rgba(172,172,190,1) 44%, rgba(119,119,134,1) 69%, rgba(90,90,99,1) 94%);
           }
           78.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-7%, rgba(119,119,134,1) 18%, rgba(172,172,190,1) 43%, rgba(119,119,134,1) 68%, rgba(90,90,99,1) 93%);
           }
           79% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-8%, rgba(119,119,134,1) 17%, rgba(172,172,190,1) 42%, rgba(119,119,134,1) 67%, rgba(90,90,99,1) 92%);
           }
           79.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-9%, rgba(119,119,134,1) 16%, rgba(172,172,190,1) 41%, rgba(119,119,134,1) 66%, rgba(90,90,99,1) 91%);
           }
           80% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-10%, rgba(119,119,134,1) 15%, rgba(172,172,190,1) 40%, rgba(119,119,134,1) 65%, rgba(90,90,99,1) 90%);
           }
           80.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-11%, rgba(119,119,134,1) 14%, rgba(172,172,190,1) 39%, rgba(119,119,134,1) 64%, rgba(90,90,99,1) 89%);
           }
           81% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-12%, rgba(119,119,134,1) 13%, rgba(172,172,190,1) 38%, rgba(119,119,134,1) 63%, rgba(90,90,99,1) 88%);
           }
           81.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-13%, rgba(119,119,134,1) 12%, rgba(172,172,190,1) 37%, rgba(119,119,134,1) 62%, rgba(90,90,99,1) 87%);
           }
           82% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-14%, rgba(119,119,134,1) 11%, rgba(172,172,190,1) 36%, rgba(119,119,134,1) 61%, rgba(90,90,99,1) 86%);
           }
           82.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-15%, rgba(119,119,134,1) 10%, rgba(172,172,190,1) 35%, rgba(119,119,134,1) 60%, rgba(90,90,99,1) 85%);
           }
           83% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-16%, rgba(119,119,134,1) 9%, rgba(172,172,190,1) 34%, rgba(119,119,134,1) 59%, rgba(90,90,99,1) 84%);
           }
           83.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-17%, rgba(119,119,134,1) 8%, rgba(172,172,190,1) 33%, rgba(119,119,134,1) 58%, rgba(90,90,99,1) 83%);
           }
           84% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-18%, rgba(119,119,134,1) 7%, rgba(172,172,190,1) 32%, rgba(119,119,134,1) 57%, rgba(90,90,99,1) 82%);
           }
           84.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-19%, rgba(119,119,134,1) 6%, rgba(172,172,190,1) 31%, rgba(119,119,134,1) 56%, rgba(90,90,99,1) 81%);
           }
           85% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-20%, rgba(119,119,134,1) 5%, rgba(172,172,190,1) 30%, rgba(119,119,134,1) 55%, rgba(90,90,99,1) 80%);
           }
           85.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-21%, rgba(119,119,134,1) 4%, rgba(172,172,190,1) 29%, rgba(119,119,134,1) 54%, rgba(90,90,99,1) 79%);
           }
           86% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-22%, rgba(119,119,134,1) 3%, rgba(172,172,190,1) 28%, rgba(119,119,134,1) 53%, rgba(90,90,99,1) 78%);
           }
           86.5% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-23%, rgba(119,119,134,1) 2%, rgba(172,172,190,1) 27%, rgba(119,119,134,1) 52%, rgba(90,90,99,1) 77%);
           }
           87% {
            background: rgb(90,90,99);
                   background: linear-gradient(45deg, rgba(90,90,99,1)-24%, rgba(119,119,134,1) 1%, rgba(172,172,190,1) 26%, rgba(119,119,134,1) 51%, rgba(90,90,99,1) 76%);
           }
           87.5% {
            background: rgb(119,119,134);
                background: linear-gradient(45deg, rgba(119,119,134,1) 0%, rgba(172,172,190,1) 25%, rgba(119,119,134,1) 50%, rgba(90,90,99,1) 75%, rgba(66,66,73,1) 100%);
           }
           88% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-1%, rgba(172,172,190,1) 24%, rgba(119,119,134,1) 49%, rgba(90,90,99,1) 74%, rgba(66,66,73,1) 99%);
           }
           88.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-2%, rgba(172,172,190,1) 23%, rgba(119,119,134,1) 48%, rgba(90,90,99,1) 73%, rgba(66,66,73,1) 98%);
           }
           89% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-3%, rgba(172,172,190,1) 22%, rgba(119,119,134,1) 47%, rgba(90,90,99,1) 72%, rgba(66,66,73,1) 97%);
           }
           89.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-4%, rgba(172,172,190,1) 21%, rgba(119,119,134,1) 46%, rgba(90,90,99,1) 71%, rgba(66,66,73,1) 96%);
           }
           90% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-5%, rgba(172,172,190,1) 20%, rgba(119,119,134,1) 45%, rgba(90,90,99,1) 70%, rgba(66,66,73,1) 95%);
           }
           90.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-6%, rgba(172,172,190,1) 19%, rgba(119,119,134,1) 44%, rgba(90,90,99,1) 69%, rgba(66,66,73,1) 94%);
           }
           91% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-7%, rgba(172,172,190,1) 18%, rgba(119,119,134,1) 43%, rgba(90,90,99,1) 68%, rgba(66,66,73,1) 93%);
           }
           91.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-8%, rgba(172,172,190,1) 17%, rgba(119,119,134,1) 42%, rgba(90,90,99,1) 67%, rgba(66,66,73,1) 92%);
           }
           92% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-9%, rgba(172,172,190,1) 16%, rgba(119,119,134,1) 41%, rgba(90,90,99,1) 66%, rgba(66,66,73,1) 91%);
           }
           92.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-10%, rgba(172,172,190,1) 15%, rgba(119,119,134,1) 40%, rgba(90,90,99,1) 65%, rgba(66,66,73,1) 90%);
           }
           93% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-11%, rgba(172,172,190,1) 14%, rgba(119,119,134,1) 39%, rgba(90,90,99,1) 64%, rgba(66,66,73,1) 89%);
           }
           93.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-12%, rgba(172,172,190,1) 13%, rgba(119,119,134,1) 38%, rgba(90,90,99,1) 63%, rgba(66,66,73,1) 88%);
           }
           94% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-13%, rgba(172,172,190,1) 12%, rgba(119,119,134,1) 37%, rgba(90,90,99,1) 62%, rgba(66,66,73,1) 87%);
           }
           94.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-14%, rgba(172,172,190,1) 11%, rgba(119,119,134,1) 36%, rgba(90,90,99,1) 61%, rgba(66,66,73,1) 86%);
           }
           95% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-15%, rgba(172,172,190,1) 10%, rgba(119,119,134,1) 35%, rgba(90,90,99,1) 60%, rgba(66,66,73,1) 85%);
           }
           95.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-16%, rgba(172,172,190,1) 9%, rgba(119,119,134,1) 34%, rgba(90,90,99,1) 59%, rgba(66,66,73,1) 84%);
           }
           96% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-17%, rgba(172,172,190,1) 8%, rgba(119,119,134,1) 33%, rgba(90,90,99,1) 58%, rgba(66,66,73,1) 83%);
           }
           96.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-18%, rgba(172,172,190,1) 7%, rgba(119,119,134,1) 32%, rgba(90,90,99,1) 57%, rgba(66,66,73,1) 82%);
           }
           97% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-19%, rgba(172,172,190,1) 6%, rgba(119,119,134,1) 31%, rgba(90,90,99,1) 56%, rgba(66,66,73,1) 81%);
           }
           97.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-20%, rgba(172,172,190,1) 5%, rgba(119,119,134,1) 30%, rgba(90,90,99,1) 55%, rgba(66,66,73,1) 80%);
           }
           98% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-21%, rgba(172,172,190,1) 4%, rgba(119,119,134,1) 29%, rgba(90,90,99,1) 54%, rgba(66,66,73,1) 79%);
           }
           98.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-22%, rgba(172,172,190,1) 3%, rgba(119,119,134,1) 28%, rgba(90,90,99,1) 53%, rgba(66,66,73,1) 78%);
           }
           99% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-23%, rgba(172,172,190,1) 2%, rgba(119,119,134,1) 27%, rgba(90,90,99,1) 52%, rgba(66,66,73,1) 77%);
           }
           99.5% {
            background: rgb(119,119,134);
                   background: linear-gradient(45deg, rgba(119,119,134,1)-24%, rgba(172,172,190,1) 1%, rgba(119,119,134,1) 26%, rgba(90,90,99,1) 51%, rgba(66,66,73,1) 76%);
           }
          100% {
            background: rgb(172,172,190);
            background: linear-gradient(45deg, rgba(172,172,190,1) 0%, rgba(119,119,134,1) 25%, rgba(90,90,99,1) 50%, rgba(66,66,73,1) 75%, rgba(21,21,23,1) 100%);
          }
    }
/* ! */
/* ------------------------------------------------Navbar------------------------------------------ */
.navy 
{
   position: fixed;
   top: 0px;
   left: 0px;
   background: rgb(27,0,140);
   background: linear-gradient(45deg, rgba(27,0,140,1) 0%, rgba(5,0,25,1) 100%);
   width: 100vw;
   box-sizing: border-box;
   display: grid !important;
   grid-template: 100%  / repeat(20,5%);
   text-align: center;
   overflow: hidden;
}
.brandy 
{
   display: flex;
   justify-content: center;
   grid-column: 2;
}
.brandy img 
{
   border-radius: 50%;
   transition: all 0.3s ;
   animation: brand-glow 1s ease-in-out infinite alternate;
}
.brandy:hover img
{
   box-shadow: 0px 0px 5px 5px rgb(255,255,255,0.3);
   transform: scale(1.1);
   cursor: pointer;
}
.shine
{
   width: 60px;
   height: 60px;
   border-radius: 30px;
   position: absolute;
   z-index: 5;
   transition: all 0.3s;
}
.brandy:hover .shine
{
   animation: shine 0.3s linear ;
   cursor: pointer;
}
.item1
{
   grid-column: 16;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   justify-content: center;
   transition: all 0.3s ;
   font-size: large;
}
.item1:hover
{
   background-color:rgba(255, 255, 255, 0.062);
   box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.062);
   font-size: larger;
   animation: shine 0.3s linear;
   cursor: pointer;
}
.item2
{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   justify-content: center;
   transition: all 0.3s ;
   font-size: large;
}
.item2:hover
{
   background-color:rgba(255, 255, 255, 0.062);
   box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.062);
   font-size: larger;
   animation: shine 0.3s linear;
   cursor: pointer;
}
.item3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    transition: all 0.3s ;
    font-size: large;
}
.item3:hover
{
    background-color:rgba(255, 255, 255, 0.062);
    box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.062);
    font-size: larger;
    animation: shine 0.3s linear;
    cursor: pointer;
}
@keyframes brand-glow {
        100% {
         box-shadow: 0px 0px 5px 5px rgb(255,255,255,0.3);
        }
}
/* -----------------------------------------------before section--------------------------------------------------- */
.start {
    position: relative;
    min-width: 99vw;
    min-height: 100vh;
    background: #000832;
    border: 10px solid #00126d;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10%;
 }
.introduction {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 15px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 2.5%;
 }
 .click {
    margin-top: 100px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 100px;
 }
    span {   
    display: inline-block;
    transform: translateY(20px);
 }
 span:nth-of-type(2) {
    animation: bounce 1s ease-in-out infinite alternate;
 }
 span:nth-of-type(3) {
    animation: bounce 1s 0.1s ease-in-out infinite alternate;
 }
 span:nth-of-type(4) {
    animation: bounce 1s 0.2s ease-in-out infinite alternate;
 }
 span:nth-of-type(5) {
    animation: bounce 1s 0.3s ease-in-out infinite alternate;
 }
 span:nth-of-type(6) {
    animation: bounce 1s 0.4s ease-in-out infinite alternate;
 }
 .start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 70px;
    border: 4px solid black;
    box-shadow: 0 0 0px 0px #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 2;
 }
 .start-btn:hover {
    transform: scale(1.1);
    font-size: 50px;
 }
 .start-btn:active {
    transform: scale(1);
    font-size: 70px;
    background-color: gray;
 }
/* -----------------------------------------------hero section---------------------------------------------- */
.hero-section {
    min-width: 99vw;
    min-height: 100vh;
    background: #000634;
    border: 10px solid #00126d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0; 
}
.web-holder {
    width: 80vw ;
    height: 40vh;
    background-color: #000a58;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.thumbnail {
   position: relative ;
   width: 30%;
   height: 80%;
   margin-left: 2.5%; 
}
.thum1{
   background-image: url(snake\ game.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #7A592D;   
}
.thum2{ 
   background-image: url(rock\ paper\ scissors.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #B6B5B5;   
}
.thum3{
   background-image: url(pong\ gam.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #39B54A;
}
.thum4{
   background-image: url(krypton.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #22005C;
}
.text {
    width: 62.5%;
    height: 80%;
    margin-left: 2.5%;
    background-color: #00126d;
    color: white;
    font-size: larger;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.visit {
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: x-large;
    transition: all 0.5s;
}
.like:hover {
    cursor: pointer;
}
.like:active  i{
   transform: scale(1.4);
}